<div class="login">
    <div class="login_container">
        <div class="login_form">
            <h1>Sign In</h1>
            <form action="">
                <h5>email</h5>
                <input type="email" name="email">
                <h5>password</h5>
                <input type="password" name="password"><br>
                <button class="login_button">Sign In</button>
                <p class="login_terms">By containning, you agree to Amazone's Condition of use 
                    and privacy Notice</p>
                <button class="register_button">Create Amzone Account</button>
            </form>
        </div>
    </div>
</div>