<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      <img src="../assets/lco.png" alt="" width="30" height="30" class="mr-2" />
      LCO Signup Form
    </h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-4">
            <label>First Name</label>
            <input formControlName="firstName" [ngClass]=" { 'is-invalid':submitted && r.firstName.errors }" type="text"
              class="form-control" />
            <div *ngIf="submitted && r.firstName.errors" class="text-warning">
              <div *ngIf="r.firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-4">
            <label>Last Name</label>
            <input formControlName="lastName" [ngClass]=" { 'is-invalid':submitted && r.lastName.errors }" type="text"
              class="form-control" />
            <div *ngIf="submitted && r.lastName.errors" class="text-warning">
              <div *ngIf="r.lastName.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input formControlName="email" [ngClass]=" { 'is-invalid':submitted && r.email.errors }" type="text"
            class="form-control" />
          <div *ngIf="r.email.touched && r.email.errors" class="text-warning">
            <div *ngIf="r.email.errors.required">Email is required</div>
            <div *ngIf="r.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <ng-container>
          <div class="text-danger">
            Value is required.
          </div>
        </ng-container>
        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input formControlName="password" [ngClass]=" { 'is-invalid':submitted && r.password.errors }"
              type="password" class="form-control" />
            <div *ngIf="r.password.touched && r.password.errors" class="text-warning">
              <div *ngIf="r.password.errors.required">
                Password is required
              </div>
              <div *ngIf="r.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input formControlName="confirmPassword" [ngClass]=" { 'is-invalid':submitted && r.confirmPassword.errors }"
              type="password" class="form-control" />
            <div *ngIf="r.confirmPassword.touched && r.confirmPassword.errors" class="text-warning">
              <div *ngIf="r.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="r.confirmPassword.errors.mustMatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" formControlName="acceptTandC"
            [ngClass]=" { 'is-invalid':submitted && r.acceptTandC.errors }" id="acceptTerms" class="form-check-input" />
          <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
          <div *ngIf="submitted && r.acceptTandC.errors" class="text-warning">
            <div *ngIf="r.acceptTandC.errors.required">
              Accept Ts & Cs is required
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3">Register</button>
          <button class="btn btn-warning" (click)="onReset()" type="reset">
            Reset
          </button>
          <p class="text white">Value: {{ registerForm.value | json }}</p>
          <p class="text white">Value: {{ registerForm.valid | json }}</p>
        </div>
      </form>
    </div>
  </div>
</div>