<div class="container mt-2">
    <div class="card">
        <h3>compose mail</h3>
        <form (ngSubmit)="doSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="data.to"  matInput placeholder="Placeholder" name="to">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <input [(ngModel)]="data.Subject"  matInput placeholder="Placeholder" name="Subject">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Message</mat-label>
                <textarea [(ngModel)]="data.Message" matInput placeholder="Placeholder" name="Message" rows="7" col="4"></textarea>
            </mat-form-field>
            <div class="text-center">
                <button type="submit" (click)="doSubmit()" mat-raised-button btn-sm color="warn">Send</button>
                <button type="submit" mat-raised-button btn-sm color="Primary">Reset</button>
            </div>
        </form>
        {{ data | json }}
</div>
