<section class="container about">
    <h1 class="text-center mb-5">{{ title }}</h1>
    <p>Be sure to have your pages set up with the latest design and development standards. </p>
    <p>Be sure to have your pages set up with the latest design and development standards. </p>
    <p>Be sure to have your pages set up with the latest design and development standards. </p>
    <p>Be sure to have your pages set up with the latest design and development standards. </p>
    <div class="follow text-center">
        <a href="#"><i class="fa fa-youtube"></i>&nbsp;Youtube</a>
        <a href="#"><i class="fa fa-instagram"></i>&nbsp;Instgram</a>
        <a href="#"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>
        <a href="#"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
    </div>
</section>